.introText {
  max-width: 27em;
}

.tabs {
  background-color: #3f51b5 !important;
  color: white;
}

.mediaFileName {
  margin: 1em;
  flex: 1 1;
  font-size: inherit;
}
.mediaFileName small {
  font-weight: normal;
  
}
.toolbar {
  background-color: aliceblue;
  flex-flow: row wrap;
  align-items: flex-start;
  padding-left: 1rem !important;
  padding-bottom: 1rem !important;
}

.toolbar:hover, .openToolbar {
  background-color: #dcebf9 !important;
}

.selectedClipsCount {
  min-width: 8em;
  text-align: center;
  padding: 1rem;
  line-height: 1.4;
}

.smallTag {
  display: inline-block;
  background-color: rgba(0,0,0, .1);
  font-size: 0.8rem;
  border-radius: 1em;
  margin: 0 .2em;
  padding: 0 .5em;
}
.table{
  vertical-align: top !important;
}
.tableBody {
  margin-top: 1em;
}
.tableRow {
  display: flex;
  padding: 1rem;
}
.highlightedClipRow {
  background-color: rgb(255, 254, 240);
}

.flashcardContents {
  padding-top: .8rem !important;
  padding-bottom: .8rem !important;
  flex-grow: 1;
}

.field {
  white-space: pre-wrap;
}

.transcription {
  composes: field;
  font-size: 1.4em;
  margin: 0;
}

.pronunciation {
  composes: field;
  /* font-size: 1.4em; */
  font-style: italic;
  margin: 0;
  margin-top:.4em;
}

.meaning {
  composes: field;
  margin-bottom: 0;
}

.notes {
  background: #eee;
  padding: .8em;
  border-radius: .5em;
}

.clipTime,
.flashcardContents,
.tags {
  padding-left: .5rem;
  padding-right: .5rem;
}
.clipTime {
  width: 8em;
  text-align: center;
}
.clipTimeText {
  padding-top: .8rem;
  display: block;
}

.tags {
  padding-top: .8rem !important;
  padding-bottom: .8rem !important;
  max-width: 20em;
}

.blank {
  color: pink;
}

.progressMessage {
  text-align: center;
  position: relative;
  top: 33%;
}

.mediaTables {
  margin-top: 1rem;
}

.clozeDeletion {
  border-bottom: solid black 1px;
}