.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
}

.intro {
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.horizontalIntro {
  padding: 1rem 3rem;
}

.introText {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.introText,.introList {
  line-height: 2;
}

.icon {
  vertical-align: sub;
}

.clipsCount {
  position: absolute;
  right: 4rem;
  top: 2rem;
}
.navButton {
  position: absolute !important;
  top: 1rem;
}
.prevButton {
  composes: navButton;
  left: 1rem;
  z-index: 1;
}
.nextButton {
  composes: navButton;
  right: 1rem;
}

.card {
  background:white;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 0;
}

.clipsCount,
.timeStamp {
  font-size: 0.8em;
  opacity: 0.5;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding: 4rem 1rem 1rem;
}

.horizontalForm {
  padding: 2rem 4rem;
  /* margin-bottom: 1rem; */
}

.formTop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.horizontalFormTop {
  padding-right: 4em;
}

.formTopLeft {

}
.flashcardImageContainer{
  height: 84px;
  margin: 1rem;
  border-radius: 0 !important;
  transition: opacity .1s;
  opacity: 0.9;
  box-shadow: rgba(0,0,0,0.2) 1px 1px 2px;

  /* background: none;
	color: inherit; */
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.flashcardImage{
  height: 100%;
  width: auto !important;
  cursor: pointer;
  background-color: #EEEEEE;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.flashcardImageContainer:hover,
.flashcardImageContainer:focus {
  opacity: 1;
  box-shadow: rgba(0,0,0,0.2) 3px 3px 5px;

}
.flashcardImageUnused {
  opacity: 0.15;
}
.flashcardImageUnused:hover,
  .flashcardImageUnused:focus {
  opacity: 0.6;
}

.formBody {
  flex-grow: 1;
  padding: 0 1rem;
}

.formBottom {
}

.suggestionsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.suggestionsContainer {
  max-height: 10em !important;
  overflow-y: auto;
}

.field {
  position: relative;
}

.fieldMenuButton {
  position: absolute !important;
  left: -2.5rem;
  top: .7em;
  opacity: 0;
}

.field:focus .fieldMenuButton,
.field:hover .fieldMenuButton,
.fieldMenuButton:focus {
  opacity: 1;
}

