.container {
  min-height: 15rem;
  width: 30rem;
  margin: 1rem auto;
  position: relative;
  padding-bottom: 3rem;
}

.timeStamp,
.noteTypeName {
  opacity: 0.5;
  font-size: 0.8em;
}
.timeStamp {
  text-align: right;
}

.bottom {
  position: absolute !important;
  bottom: 1rem;
  right: 1rem;
}
.noteTypeNameLink {
  text-decoration: underline;
  cursor: pointer;
}

.suggestionsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.suggestionsContainer {
  max-height: 10em !important;
  overflow-y: auto;
}
