.container {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
}

.flashcardSectionContents {
  /* flex-grow: 1; */
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  padding: 2rem;

}


.intro {
  max-width: 800px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 1rem;
}
.introText {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.introText,.introList {
  line-height: 2;
}

.icon {
  vertical-align: sub;
}

.clipsCount {
  position: absolute;
  right: 4rem;
  top: 2rem;
}
.navButton {
  position: absolute !important;
  top: 1rem;
}
.prevButton {
  composes: navButton;
  left: 1rem;
  z-index: 1;
}
.nextButton {
  composes: navButton;
  right: 1rem;
}

.card {
  background:white;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 0;
}

.clipsCount,
.timeStamp {
  font-size: 0.8em;
  opacity: 0.5;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  padding: 4rem 1rem 1rem;
}

.horizontalForm {
  padding: 2rem 4rem;
  flex-flow: row nowrap;
}

.formTop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 1rem 1rem;
}

.horizontalFormTop {
  padding-right: 1rem;
}

.flashcardImageContainer{
  height: 84px;
  border-radius: 0 !important;
  transition: opacity .1s;
  opacity: 0.9;
  position: relative;

  /* background: none;
	color: inherit; */
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.horizontalForm .flashcardImageContainer {
  height: 150px;
}
.flashcardImage {
  height: 100%;
  width: auto !important;
  cursor: pointer;
  background-color: #EEEEEE;
  display: flex !important;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0,0,0,0.2) 1px 1px 2px;
}
.flashcardImageContainer:hover,
.flashcardImageContainer:focus {
  box-shadow: rgba(0,0,0,0.2) 3px 3px 5px;

}
.flashcardImageUnused {
  position: relative;
  opacity: 0.6;
}
.flashcardImageUnused .flashcardImage {
  box-shadow: none;
}

.flashcardImageContainer::after {
  color: white;
  opacity: 0;
  transition: opacity .2s;
  content: '✕';
  font-size: 100px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  text-align: center;
}
.flashcardImageUnused::after {
  opacity: 1;
}

.formBody {
  flex-grow: 1;
  padding: 0 1rem;
  max-width: 500px;
}

.menu {
  composes: menu from './FlashcardSectionDisplay.module.css';
}
.secondaryMenu {
  composes: secondaryMenu from './FlashcardSectionDisplay.module.css';
}

.suggestionsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.suggestionsContainer {
  max-height: 10em !important;
  overflow-y: auto;
}

.field {
  position: relative;
}

.fieldMenuButton {
  position: absolute !important;
  left: -2.5rem;
  top: .7em;
  opacity: 0;
}

.field:focus .fieldMenuButton,
.field:hover .fieldMenuButton,
.fieldMenuButton:focus {
  opacity: 1;
}

.selectedMenuItem,
.selectedMenuItem span {
  font-weight: bold !important;
}

