
.previewFieldMenuButton {
  opacity: 0;
  padding: 0 !important;
}

.previewField:focus .previewFieldMenuButton,
.previewField:hover .previewFieldMenuButton,
.previewFieldMenuButton:focus {
  opacity: 1;
}

.container {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.preview {
  color: #777;
}
.card {
  color: inherit;
}

.horizontalPreview {
  margin-top: 0;
  font-size: 18px;
  padding: 0 2em;
}
.previewFields {
  flex-grow: 1;
}
.previewField {
  position: relative;
  width: 100%;
  min-height: 3rem;
  margin: 2rem 0;
  line-height: 2;
  white-space: pre-wrap;
}
.horizontalPreview .previewField {
  margin: 0;
}

.previewFieldTranscription {
  font-size: 1.2em;
}
.previewFieldPronunciation {
  font-style: italic;
}
.previewFieldNotes {
  min-width: 15em;
  background-color: #efefef;
  padding: .8em;
  border-radius: .2em;
  text-align: justify;
  max-width: 40em;
  margin-left: auto !important;
  margin-right: auto !important;
  
}
.previewFieldWithPopover.previewFieldNotes{
  text-indent: -1em;
}
.emptyFieldPlaceholder {
  font-size: 16px;
  font-style: italic;
  opacity: .5;
}
.newlinePlaceholder {
  display: inline;
}
.newline {
  white-space: pre;
}
.horizontalPreview .newline {
  pointer-events: none;
  position:absolute;
  opacity: 0; 
}
.horizontalPreview .newlinePlaceholder::before {
  content: '⏎';
  display: inline;
  padding-right: .45em;
  color: rgba(0,0,0,0.5);
}
.previewFieldNotes .newlinePlaceholder {
  display: inline
}
.previewFieldNotes .newlinePlaceholder::before {
  content: none;
}

.clozeNewlinePlaceholder {
  /* padding-right: .45em; */
  color: rgba(0,0,0,0.3);
}

.previewTags {
  padding: 1rem;
  font-size: .8rem;
}

.menu {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.clozeButton {
  min-width: 0 !important;
  padding: 0.3em .5em;
}
.clozeButton:hover {
  background-color: hsla(var(--cloze-hue), 100%, 80%, 80%);
}
.clozeField {
  position: relative;
}

.fieldValue {
    display: inline;
    position: relative;
    z-index: 1;
}
.fieldValue:not([contenteditable]) {
    letter-spacing: 0.0035em;
   letter-spacing: 0.00425em;
}
.clozeFieldValue {
  composes: fieldValue;
  color: black;
  z-index: 4;

  position: relative;
}
.clozeFieldValue::selection {
  background-color: rgba(0,0,0,0.3)
}

.clozeFieldValue:focus {
  outline: 0 !important;
}

.previewBlank {
  color: #ffffff00;
  background-color: white !important;
  border-bottom: solid 2px #000 !important;
}

.blank {
  border-bottom: solid 1px rgba(0,0,0,0.2);
  background-color: hsla(var(--cloze-background-hue), 60%, 80%, 30%);
}

.clozePreviewFieldValue .blank:not(.previewBlank) {
  border: 0 !important;
  background: transparent;
}

.blankEditing {
  border-bottom: solid 2px #000;
  background-color: hsla(var(--cloze-background-hue), 90%, 85%, 65%);
}
.blank::selection {
  background-color: hsla(var(--cloze-background-hue), 100%, 80%, 80%);
}
.clozeValueChar {
  /* --cloze-selection-hue: 194; */
}
.clozeValueChar::selection {
  background-color: hsla(var(--cloze-selection-hue), 100%, 90%, 75%);
  /* color: hsl(calc(var(--cloze-selection-hue) + 180), 100%, 10%) */
  color: hsl(calc(var(--cloze-selection-hue) + 150), 20%, 50%);
  color: hsl(calc(var(--cloze-selection-hue) + 150), 100%, 30%);
}
