.container {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block {
  margin: 0 .5rem;
}

.projectName {
  display: inline;
  padding: .5rem;
}

.leftMenu,
.rightMenu {
  display: flex;
  padding: .5rem;
  align-items: center;
}


.rightMenu {
  list-style-type: none;
  justify-content: flex-end;
  padding: .5rem;
}
.menuItem {
  padding: .5rem;

}

.menuTextItem {
  composes: menuItem;
  max-width: 14rem;
}


.audioButton {
  text-transform: none !important;
}