.container {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -.5em 0;
  flex-shrink: 0;
  flex-grow: 0;
}

.block {
  margin: 0 .5rem;
}

.projectName {
  display: inline;
  padding: .5rem;
  font-size: 1.2em;
}

.leftMenu,
.rightMenu {
  display: flex;
  padding: .5rem;
  margin: 0;
  align-items: center;
}


.rightMenu {
  list-style-type: none;
  justify-content: flex-end;
  padding: .5rem;
  min-width: 15%;
}
.menuItem {
  padding: .5rem;

}

.menuTextItem {
  composes: menuItem;
  max-width: 14rem;
}


.audioButton {
  text-transform: none !important;
}

.projectMenu {
  display: flex;
  align-items: center;
  height: 4em;
}

.projectNameInput input {
  font-size: 1.2rem !important;
}

.subtitlesMenuListItemText,
.mediaFilesMenuListItemText {
  padding-right: 3rem !important;
}

.mediaFilesMenuList {
  max-height: 30rem;
  overflow-y: auto;
}