.container {
  z-index: 2;
  position: relative;
  margin-top: 0;

  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  flex-shrink: 0;
  flex-grow: 0;
  height: 4rem;

  transition: all .2s;
}

.container.horizontal {
  position: fixed;
  width: 100%;
  margin-top: -4rem;
}

.container.horizontal.audio {
  position: relative;
}

.container.horizontal.isShowing,
.container.horizontal.audio,
.container.horizontal:focus-within
 {
  margin-top: 0;
}

.hoverArea {
  display: none;
  transition: all .2s;
  background: transparent;
  bottom: -4em;
  height: 4em;
  width: 100%;
  position: absolute;
}
.hoverArea.horizontal {
  display: block;
}

.hoverArea.horizontal.audio {
  display: none;
}

.hoverArea.horizontal.isShowing,
.container:focus-within > .hoverArea.horizontal,
.hoverArea.horizontal.audio {
  height: 0;
  bottom: -0;
  width: 100%;
}

.block {
  margin: 0 .5rem;
}

.projectName {
  display: inline;
  padding: .5rem;
  font-size: 1.2em;
  font-weight: normal;
  white-space: pre-wrap;
}
.projectNameHidden {
  position: absolute;
  z-index: -9999; 
  opacity: 0; 
  pointer-events: none;
}
.leftMenu,
.rightMenu {
  display: flex;
  padding: .5rem;
  margin: 0;
  align-items: center;
}


.rightMenu {
  list-style-type: none;
  justify-content: flex-end;
  padding: .5rem;
  min-width: 15%;
}
.menuItem {
  padding: .5rem;

}

.menuTextItem {
  composes: menuItem;
  max-width: 14rem;
}


.audioButton {
  text-transform: none !important;
}

.projectMenu {
  display: flex;
  align-items: center;
  height: 4em;
}
.projectNameForm {
}
.projectNameFormHidden {
  display: hidden;
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
}


.projectNameInput input {
  font-size: 17px !important;
  padding: .4rem .5rem;
}

.subtitlesMenuListItemText,
.mediaFilesMenuListItemText {
  padding-right: 3rem !important;
}
.activeMediaFilesMenuListItemText span {
  font-weight: bold;
}

.mediaFileName {
  font-size: large;
  display: inline;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

.mediaFilesMenuList {
  max-height: 30rem;
  overflow-y: auto;
}