.container {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  background: #ececec;
}

.middle {
  background: black;
  /* text-align: center; */
  display: flex;
  flex: 1;
  align-items: center;
  overflow-y: auto;
}

.flashcardSection {
  flex-shrink: 2;
  height: 100%;
  overflow-y: auto;

}

.media {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.floatingActionButton {
  position: fixed !important;
  bottom: 5%;
  right: 5%;
}