
.container {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  background: #ececec;
}

.middle {
  background: black;
  display: flex;
  flex: 1;
  align-items: center;
  overflow-y: auto;
  align-items: stretch;
}
.horizontal {
  flex-flow: column nowrap;
}

.flashcardSection {
  flex-shrink: 2;
  height: 100%;
  min-width: 30em;
  flex-basis: 30em;
}

.media {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.floatingActionButton {
  position: fixed !important;
  bottom: calc(70px + 3rem);
  right: 2rem;
}