.container {
  position: relative;
}

.audio.mediaPlayer {
  width: 100%;
  display: block;
}
.video.mediaPlayer {

  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
}

.viewModeButton {
  position: absolute !important;
  z-index: 1;
  top: 3rem;
  left: 3rem;
  opacity: 0;
  transition: opacity .2s, background-color .2s;
  background-color: white !important;
}
.viewModeButton:hover {
  background-color: #eee !important;
}

.container:hover .viewModeButton,
.container:focus-within .viewModeButton
 {
  opacity: 1;
}