.video {
  padding-bottom: 32px; /* mess with these and then the controls could be at the bottom of the waveform. but then move the audio element. */
}

.video::-webkit-media-controls-panel {
  display: flex !important;
  opacity: 1 !important;
  margin-top: 36px; /* mess with these and then the controls could be at the bottom of the waveform. but then move the audio element. */
}

.video::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}

.videoContainer {
  overflow-y: auto;
  height: 20em;
  resize: vertical;
  max-width: 100%;
  display: block;
}
.audio.mediaPlayer {
  width: 100%;
  display: block;
}
.video.mediaPlayer {
  height: 100%;
  padding: 0 1rem 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
