.header {
  composes: container from './MainHeader.module.css';
}

.mainHeading {
  font-size: 1.4rem;
  /* max-width: 600px; */
  text-align: center;
  margin: 10% auto 1em auto;
}  

.icon {
  width: 1.5em; 
  height: auto;
  background:white;
  vertical-align: bottom;
  margin-right: .3em;
}

.main {
  flex: 1;
  display: flex;
}

.menu {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column nowrap;
}

.buttons {
  margin: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.button {
  margin: auto 0.5rem !important;
}
.button:last-child {
  margin-right: 0 !important;
}
.button:first-child {
  margin-left: 0 !important;
}

.recentProjectsPaper {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15em;
  overflow-y: auto;
}