.subtitlesSvg {
  background-color: #616161;
  flex-shrink: 0;
  flex-grow: 0;
}

.subtitlesChunkRectangle {
  stroke: #303f9f;
  stroke-width: 1px;
  fill: #e4ecf7;
}
.subtitlesText {
  font-size: 14px;
  fill: #616161;
}

.subtitlesChunk:hover .subtitlesChunkRectangle {
  fill: aliceblue;
}