.waveformPlaceholder {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waveformSvg,
.waveformPlaceholder {
  background: gray;
  flex-grow: 0;
  flex-shrink: 0;
}

.waveformPath {
  stroke: #000000;
}

.waveformClip {
  fill: hsla(205, 10%, 40%, 0.7);
}

.waveformClipBorder {
  /* fill: hsla(205, 10%, 40%, 0.7); */
  fill: transparent;
  stroke: none;
  cursor: ew-resize;
  z-index: 10;
}

.waveformPendingClip {
  stroke: rgba(255, 255, 0, 0.2);
  fill: rgba(255, 255, 0, .2);
  pointer-events: none;
}

.waveformPendingClipMove {
  animation: flashIn 1s;
  fill: rgba(255, 255, 0, .2);
  stroke: rgba(255, 255, 0, 0.8);
}

@keyframes flashIn {
  0% {
    fill: rgba(255, 255, 0, .1);
    stroke: rgba(255, 255, 0, .1);
  }
  40% {
    fill: rgba(255, 255, 0, .1);
    stroke: rgba(255, 255, 0, .1);
  }
  41% {
    fill: rgba(255, 255, 0, .2);
    stroke: rgba(255, 255, 0, 1);
  }
  100% {
    fill: rgba(255, 255, 0, .2);
    stroke: rgba(255, 255, 0, .8);
  }
}

.waveformPendingStretch {
  stroke: rgba(0, 255, 255, 0.4);
  fill: rgba(0, 255, 255, 0.4);
}

.highlightedClip {
  stroke: rgba(100, 255, 0, 0.8);
  fill: rgba(0, 255, 0, 0.26);
  fill: #8f9aad;
}

.subtitlesSvg {
  /* background-color: #616161; */
  background-color: #222222;
  background-color: #222222;
  flex-shrink: 0;
  flex-grow: 0;
}

.subtitlesChunkRectangle {
  stroke-width: 1px;
  fill: hsla(205, 20%, 70%, 0.3);
}

.selectedSubtitlesChunk {
  fill: hsla(205, 20%, 70%, 0.6);
}

.subtitlesText {
  fill: #e4ecf7;
  font-size: 9px;
}
.subtitlesChunk:hover .subtitlesText {
  fill: black;
  cursor: default;
  pointer-events: none;
}
 
.subtitlesChunk:hover .subtitlesChunkRectangle {
  fill: #e4ecf7;
  opacity: 1;
}