.form {
  width: 25rem;
}

.cardPreview {
  font-size: 12px;
  padding: 1em;
}

.playButton::after {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-left: 1.8em solid black;
  border-bottom: 1em solid transparent;
  display: block;
  transform: translate(.8em, .5em);
  content: "";
}
.playButton {
  width: 3em;
  height: 3em;
  border: solid 1px black;
  border-radius: 50%;
  display: inline-block;
}

.noteTypeFieldControl {
  width: 15rem;
}

/* copied from prepareExport */

:global .card {
  font-family: Helvetica, Arial;
  font-size: 16px;
  text-align: center;
  color: black;
  background-color: white;
  line-height: 1.25
}

:global .transcription {
  font-size: 2em;
}

:global .pronunciation {
  font-style: italic;
  font-size: 1.4em;
}

:global .meaning {
  margin-top: 4em;
  margin-bottom: 4em;
}

:global .notes {
  background-color: #efefef;
  padding: .8em;
  border-radius: .2em;
  text-align: justify;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}