a:link,
a:visited,
a:hover,
a:active { color: inherit; }

html,
body,
#root {
  height: 100%;
}

video {
  padding-bottom: 32px; /* mess with these and then the controls could be at the bottom of the waveform. but then move the audio element. */
}

video::-webkit-media-controls-panel {
  display: flex !important;
  opacity: 1 !important;
  margin-top: 36px; /* mess with these and then the controls could be at the bottom of the waveform. but then move the audio element. */
}

video::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}


.App {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  background: #ececec;
}

.floatingActionButton {
  position: fixed !important;
  bottom: 5%;
  right: 5%;
}

.App-title {
  font-size: 1.5em;
}
.media {
  background: black;
  text-align: center;
}

.videoContainer {
  overflow-y: auto;
  height: 20em;
  resize: vertical;
  max-width: 100%;
  display: block;
}
audio.audioPlayer {
  width: 100%;
  display: block;
}
video.audioPlayer {
  height: 100%;
  padding: 0 1rem 0 0;
  box-sizing: border-box;
  max-width: 100%;
}

.form {
  font-size: large;
  max-width: 30em;
  margin: auto;
}
.mediaFileName {
  font-size: large;
  display: inline;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

.fileInput {
  pointer-events: none;
}

.formBody {
  max-width: 20em;
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.waveform-placeholder {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waveform-svg,
.waveform-placeholder {
  /* background-color: aliceblue; */
  background-color: #9ba9b5;
  flex-basis: 70px;
  flex-grow: 0;
  flex-shrink: 0;
}

.waveform-path {
  stroke: #000000;
}

.waveform-clip {
  stroke: rgba(255, 245, 187, 0.2);
  fill: rgba(255, 237, 133, 0.2);
}

.waveform-clip-border {
  fill: rgba(255, 230, 146, 0.4);
  stroke: none;
  cursor: ew-resize;
}

.waveform-pending-clip {
  stroke: rgba(255, 255, 0, 0.2);
  fill: rgba(255, 255, 0, .2);
}

.waveform-pending-stretch {
  stroke: rgba(0, 255, 255, 0.4);
  fill: rgba(0, 255, 255, 0.4);
}

.highlightedClip {
  stroke: rgba(100, 255, 0, .5);
  fill: rgba(0, 255, 0, 0.26);
}

.highlightedClipBorder {
  fill: rgba(0, 255, 0, 0.26);
  stroke: none;
  cursor: ew-resize;
}