a:link,
a:visited,
a:hover,
a:active { color: inherit; }

html,
body,
#root {
  height: 100%;
}

.App {
  display: flex;
  min-height: 100%;
  flex-flow: column nowrap;
  background: #ececec;
}

.floatingActionButton {
  position: fixed !important;
  bottom: 5%;
  right: 5%;
}

.introText {
  text-align: center;
  padding: 10%;
}

.App-title {
  font-size: 1.5em;
}
.media {
  background: black;
  display: flex;
}
.audioPlayer {
  /* max-width: 30rem; */
  width: 100%;
  max-height: 25rem;
}

.form {
  font-size: large;
  max-width: 30em;
  margin: auto;
}
.audioFileName {
  font-size: large;
  display: inline;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

.fileInput {
  pointer-events: none;
}

.formBody {
  max-width: 20em;
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.waveform-placeholder {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waveform-svg,
.waveform-g,
.waveform-placeholder {
  background-color: aliceblue;
}

.waveform-path {
  stroke: #000000;
}

.waveform-selection {
  stroke: rgba(80, 200, 50, .2);
  fill: rgba(80, 200, 50, .2);
}

.waveform-selection-border {
  fill: rgba(0, 255, 0, .2);
  stroke: none;
  cursor: ew-resize;
}

.waveform-pending-selection {
  stroke: rgba(255, 255, 0, .2);
  fill: rgba(255, 255, 0, .2);
}

.waveform-pending-stretch {
  stroke: rgba(0, 255, 255, 0.4);
  fill: rgba(0, 255, 255, 0.4);
}

.isHighlighted {
  stroke: rgba(100, 255, 0, .5);
  fill: rgba(0, 255, 0, .5);
}