a:link,
a:visited,
a:hover,
a:active { color: inherit; }

html,
body,
#root {
  height: 100%;
}

video {
  padding-bottom: 32px; /* mess with these and then the controls could be at the bottom of the waveform. but then movie the audi oelement. */
}

video::-webkit-media-controls-panel {
  display: flex !important;
  opacity: 1 !important;
  margin-top: 32px; /* mess with these and then the controls could be at the bottom of the waveform. but then movie the audi oelement. */
}

.App {
  display: flex;
  min-height: 100%;
  flex-flow: column nowrap;
  background: #ececec;
}

.floatingActionButton {
  position: fixed !important;
  bottom: 5%;
  right: 5%;
}

.introText {
  text-align: center;
  padding: 10%;
}

.App-title {
  font-size: 1.5em;
}
.media {
  background: black;
  display: flex;
  justify-content: center;
}

.videoContainer {
  height: 25rem;
  overflow-y: auto;
  resize: vertical;
}
audio.audioPlayer {
  width: 100%;
}
video.audioPlayer {
  height: calc(100% - 36px);
  padding: 1rem;
  box-sizing: border-box;
}

.form {
  font-size: large;
  max-width: 30em;
  margin: auto;
}
.mediaFileName {
  font-size: large;
  display: inline;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

.fileInput {
  pointer-events: none;
}

.formBody {
  max-width: 20em;
  margin: auto;
}

.tagsField {
  /* margin-top: .5em !important; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.waveform-placeholder {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waveform-svg,
.waveform-placeholder {
  /* background-color: aliceblue; */
  background-color: #9ba9b5;
}

.waveform-path {
  stroke: #000000;
}

.waveform-clip {
  stroke: rgba(80, 200, 50, .2);
  fill: rgba(80, 200, 50, .2);
}

.waveform-clip-border {
  fill: rgba(0, 255, 0, .2);
  stroke: none;
  cursor: ew-resize;
}

.waveform-pending-clip {
  stroke: rgba(255, 255, 0, .2);
  fill: rgba(255, 255, 0, .2);
}

.waveform-pending-stretch {
  stroke: rgba(0, 255, 255, 0.4);
  fill: rgba(0, 255, 255, 0.4);
}

.isHighlighted {
  stroke: rgba(100, 255, 0, .5);
  fill: rgba(0, 255, 0, .5);
}